/* .barra{
    background: #F02D3A;
    width: 180px; 
    height: 100vh;
    position: fixed;
    z-index: 2000;
} */

.barra{
   
    height: 310vh;
    background: #F02D3A;
}

.centro_incio{
    display: grid;
    height: 100vh;


}
.inicio{
    display: grid;
    grid-template-columns: 10% 90%;
}

.inicio_contacto{
    height: 100vh;

}


.productos{
    height: 100vh;

}

.clientes{
    height: 100vh;
}

.final{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 12vh;
    background: #273043;
}

.derechos p{
    color: #D3D3D3;
}

.icon{
    border-radius: 50%;
    background: white;
    width:  57px;
    height: 57px;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}