/* .barra{
    background: #F02D3A;
    width: 180px; 
    height: 100vh;
    position: fixed;
    z-index: 2000;
} */

.barra{
   
    height: 280vh;
    background: #F02D3A;
}

.centro_incio{
    display: grid;
    height: 100vh;

    gap: 40px;
}
.inicio{
    display: grid;
    grid-template-columns: 10% 90%;
}

.inicio_contacto{
    height: 100vh;
    width: 90vw;
 
    
}


.productos{
    height: 100%;
    width: 90vw;



}

.clientes{
   
    height: 100%;
    width:  90vw;
}


@media (max-width: 1050px){
    .barra{
   
        min-height: 315vh;
      
    }
  }

@media (max-width: 767px){
    .barra{
   
        height: 450vh;
      
    }
}