<div class="contenido">
    <div class="inicio">
        <div class="barra"></div>
        
        <div class="centro_incio">
            <div class="inicio_contacto">
                <app-navbar></app-navbar>
                <app-uno></app-uno>
            </div>
            <div class="productos">
                <app-dos></app-dos>
            </div>

            <div class="clientes">
                <app-tres></app-tres>
            </div>
        </div>
    </div>

    <div class="final">
        <div class="iconos">

            <div class="icon facebook">

            </div>
            <div class="icon twitter">

            </div>
            <div class="icon linkedin">

            </div>
        </div>

        <div class="derechos">
            <p>Copyright ©2021 METALSAWA SRL . Todos los derechos reservados</p>
        </div>
    </div>

</div>