

<div class="contenido">
    
    <app-consultar *ngIf="estadoConsulta" [nombreHijoProducto]="nombreHijo"></app-consultar>

    <div class="inicio">
        <div class="barra"></div>
        
        <div class="centro_incio">

            <div class="inicio_contacto">
                <app-navbar></app-navbar>
                <app-uno (nombreDeProducto)="nombreHijo = $event"></app-uno>
            </div>

            <div class="productos">
                <app-dos (nombreDeProducto)="nombreHijo = $event"></app-dos>
            </div>

            <div class="clientes">
                <app-tres ></app-tres>
            </div>
        </div>

    </div>

<app-final ></app-final>
</div>