<div class="productos_principales">
    <div class="titulo">
        <h2>PRODUCTOS</h2>
        <hr style=" width:100%;">
    </div>
    <div class="lista">

        <div class="producto" >

            <div class="mas_vendido">
                <div class="mas">

                    <p>Mas vendido</p>
                </div>
            </div>
            <div class="item" >
                <div class="carousel"   data-flickity='{"wrapAround": true, "contain": true, "prevNextButtons": false, "pageDots": false, "draggable": false, "autoPlay": 3000 }'>
                    <div class="carousel-cell"><img src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FV%C3%A1lvulas%20de%20presi%C3%B3n%20y%20vac%C3%ADo%2F2014-01-14_16.39.57-removebg-preview.png?alt=media&token=3a87c53d-7282-4822-a5b2-08d13200b673" alt=""></div>
                    <div class="carousel-cell"><img src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FV%C3%A1lvulas%20de%20presi%C3%B3n%20y%20vac%C3%ADo%2F2014-01-14_16.40.11-removebg-preview.png?alt=media&token=4dba0b88-4bad-4e1d-bba7-1c164770d376" alt=""></div>
                    <div class="carousel-cell"><img src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FV%C3%A1lvulas%20de%20presi%C3%B3n%20y%20vac%C3%ADo%2FMOD_VPVDS-6X8-removebg-preview.png?alt=media&token=db010d8b-2e36-4a26-8483-3d2981295649" alt=""></div>
                </div>
            </div>
            <div class="mas_info">
                
                <div class="titulo_producto">
                    <hr>
                    <h3>Válvulas de presión y vacío</h3>
                </div>
                <div class="botones">
                    <button  class="btn btn-outline-primary" (click)="abrirConsulta(1)">Consultar</button>
                </div>
            </div>
        </div>

        <div class="producto" >

            <div class="item" >
                <div class="carousel"   data-flickity='{"wrapAround": true, "contain": true, "prevNextButtons": false, "pageDots": false, "draggable": false, "autoPlay": 3000 }'>
                    <div class="carousel-cell"><img style="width:200px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FBocas%20de%20medici%C3%B3n%20y%20sondeo%2FMOD__BSS.06-removebg-preview.png?alt=media&token=759c1c92-74aa-4cad-ab86-223c86c483e8" alt=""></div>
                    <div class="carousel-cell"><img style="width:200px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FBocas%20de%20medici%C3%B3n%20y%20sondeo%2FMOD_BSVS-06-removebg-preview.png?alt=media&token=dbeb408f-a4da-44c9-b0d3-3e10d048aabd" alt=""></div>
                    <div class="carousel-cell"><img style="width:200px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FBocas%20de%20medici%C3%B3n%20y%20sondeo%2FMOD_BSVS-06__2_-removebg-preview.png?alt=media&token=a843c925-3222-46a1-bccb-a0c7be9a0523" alt=""></div>
                </div>
            </div>
            <div class="mas_info">
                
                <div class="titulo_producto">
                    <hr>
                    <h3>Bocas de medición y sondeo</h3>
                </div>
                <div class="botones">
                    <button  class="btn btn-outline-primary" (click)="abrirConsulta(2)">Consultar</button>
                </div>
            </div>
        </div>

        <div class="producto" >

            <div class="item" >
                <div class="carousel"   data-flickity='{"wrapAround": true, "contain": true, "prevNextButtons": false, "pageDots": false, "draggable": false, "autoPlay": 3000 }'>
                    <div class="carousel-cell"><img style="width:250px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FBlanketing%2F2013-05-20_09.22.11-removebg-preview.png?alt=media&token=da85fe72-469c-4482-98ba-d7a0186c2c0e" alt=""></div>
                    <div class="carousel-cell"><img style="width:250px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FBlanketing%2F2013-05-20_09.18.03-removebg-preview.png?alt=media&token=f77f0e42-d2b8-47d7-9e28-1e2463adb086" alt=""></div>
                    <div class="carousel-cell"><img style="width:250px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FBlanketing%2F2013-05-20_09.21.09-removebg-preview.png?alt=media&token=1cfe63db-9a9c-43db-8b0d-8026ff28170e" alt=""></div>
                </div>
            </div>
            <div class="mas_info">
                
                <div class="titulo_producto">
                    <hr>
                    <h3>Blanketing</h3>
                </div>
                <div class="botones">
                    <button  class="btn btn-outline-primary" (click)="abrirConsulta(3)">Consultar</button>
                </div>
            </div>
        </div>

        <div class="producto" >

            <div class="item" >
                <div class="carousel"   data-flickity='{"wrapAround": true, "contain": true, "prevNextButtons": false, "pageDots": false, "draggable": false, "autoPlay": 3000 }'>
                    <div class="carousel-cell"><img style=" transform: rotate(-90deg);;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FValvula%20de%20emergencia%2FImagen133-removebg-preview.png?alt=media&token=cb5bf8f4-0084-4d58-afbe-303b343427cf" alt=""></div>
                </div>
            </div>
            <div class="mas_info">
                
                <div class="titulo_producto">
                    <hr>
                    <h3>Valvula de emergencia</h3>
                </div>
                <div class="botones">
                    <button  class="btn btn-outline-primary" (click)="abrirConsulta(4)">Consultar</button>
                </div>
            </div>
        </div>

        <div class="producto" >

            <div class="item" >
                <div class="carousel"   data-flickity='{"wrapAround": true, "contain": true, "prevNextButtons": false, "pageDots": false, "draggable": false, "autoPlay": 3000 }'>
                    <div class="carousel-cell"><img style="width:150px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FVento%20libre%2FMOD_VLS-__TIPO_CUELLO__MOD__BAVS--removebg-preview.png?alt=media&token=8e5cffe1-1ae7-4e30-8ad5-62abfe67a167" alt=""></div>
                    <div class="carousel-cell"><img style="width:140px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FVento%20libre%2FMOD__VLS-06___TIPO_CAMPANA_____MOD_BAVS-06-removebg-preview.png?alt=media&token=ee8e8dd7-1f9e-4588-9f49-cea4d12f12eb" alt=""></div>
                </div>
            </div>
            <div class="mas_info">
                
                <div class="titulo_producto">
                    <hr>
                    <h3>Vento libre</h3>
                </div>
                <div class="botones">
                    <button  class="btn btn-outline-primary" (click)="abrirConsulta(5)">Consultar</button>
                </div>
            </div>
        </div>


        <div class="producto" >

            <div class="item" >
                <div class="carousel"   data-flickity='{"wrapAround": true, "contain": true, "prevNextButtons": false, "pageDots": false, "draggable": false, "autoPlay": 3000 }'>
                    <div class="carousel-cell"><img style="width:150px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FIndicadores%20de%20nivel%2FMOD__INES-18-removebg-preview.png?alt=media&token=625f1cd5-7bfa-4e36-9b64-fab070a22ec8" alt=""></div>
                    <div class="carousel-cell"><img style="width:240px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2FIndicadores%20de%20nivel%2FMOD_INES-18-removebg-preview.png?alt=media&token=ccb879a2-0444-467b-8967-9c51f27b0277" alt=""></div>
                </div>
            </div>
            <div class="mas_info">
                
                <div class="titulo_producto">
                    <hr>
                    <h3>Indicadores de nivel</h3>
                </div>
                <div class="botones">
                    <button  class="btn btn-outline-primary" (click)="abrirConsulta(6)">Consultar</button>
                </div>
            </div>
        </div>



    </div>
</div>