<div class="contenedor">
    <div class="contenido">

        <button type="button" class="btn-close" aria-label="Close" id="boton_salir" (click)="onSalir()"></button>

        <div class="titulo_productos">
            <h2>{{'producto.productos.'+ item +'.titulo' | translate}}</h2>
        </div>

        <div class="carousel_2">
            <div class="cortar_imagenes">
                <div class="carousel" data-flickity='{ "wrapAround": true, "pageDots": false }'>
                    <div class="carousel-cell"><img src="{{item_data.imagen1}}"></div>
                    <div class="carousel-cell" *ngIf="item_data.imagen2 == null || item_data.imagen2.length == 0 ? false : item_data.imagen2"><img src="{{item_data.imagen2}}"></div>
                    <div class="carousel-cell" *ngIf="item_data.imagen3 == null || item_data.imagen3.length == 0 ? false : item_data.imagen3"><img src="{{item_data.imagen3}}"></div>
        
                  </div>

            </div>

        </div>    

        <div class="descripcion">
            <div class="descripcion_titulo">
               <h3>{{'producto.descripcion'| translate }}</h3>
           </div>
           <p>{{'producto.productos.'+ item +'.descripcion' | translate}}</p>

           <div class="material" *ngIf="item_data.materiales == null || item_data.materiales.length == 0 ? false : true">
               <div class="titulo_material">
                   <h3>{{ 'producto.material'| translate }} </h3>
                   <p>{{'producto.productos.'+ item +'.material' | translate}}</p>
               </div>

               <div class="titulo_diametro"  *ngIf="item_data.diametros == null || item_data.diametros.length == 0 ? false : true">

                   <label for="">{{ 'producto.diametros'| translate }} <span>{{'producto.productos.'+ item +'.diametro' | translate}}</span> </label>
                   <label for="" *ngIf="item_data.tipo == null || item_data.tipo.length == 0 ? false : true">{{ 'producto.tipos'| translate }}<span>{{ 'producto.productos.'+ item +'.tipos' | translate }}</span></label>
                </div>
    

           </div>
        </div>


        <div class="soyelboton">
            <button  class="btn btn-primary btn-lg">{{'producto.consultar'| translate}}</button>
        </div>
    </div>
</div>
