.contenedor{
    position: fixed;

    height: 100vh;
    width: 90vw;

    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight:300; 
    z-index: 1000;
    word-wrap: break-word;
    
   

}
#boton_salir{
 place-self: start;
 padding-top:  30px;
 padding-left: 30px;
}
.contenido{
    width:1000px;
    height: auto;
    background: white;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-content: center;
transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 25px; ;
}
.titulo_productos{
    
    text-align: center;
    color: #a4a4a4;
}
.carousel_2{
    margin-bottom: 10px;
    display: grid;
    align-items: center;
    height: 350px; 
    /*   width: 700px; */
}

.cortar_imagenes{
    place-self: center;
    width: 700px;
}

  
.carousel-cell {
  width: 45%;
  height: 280px;
  margin-right: 10px;
  /* background: #efefef; */
  border-radius: 25px;
/*   counter-increment: gallery-cell; */
display: grid;
  justify-items:center;
  align-items:center;

}

.carousel-cell:before {
  display: block;
  text-align: center;
 /*  content: counter(gallery-cell); */
  line-height: 280px;
  font-size: 80px;
  color: white;
}


.carousel-cell img{
/*   display: grid;
  justify-content:center;
  align-items:center; */
  
  width: 70%;
}
.descripcion{
    text-align: center;
    place-self: center;
    width: 90%;
  }
.descripcion_titulo{
    padding-bottom: 20px;
}
.descripcion p{
    font-size: 14px;
    color: #3d3d3d;
    text-align: start;
}
.soyelboton{
    place-self: center;
    margin-bottom: 30px;
   /*  margin-top: 30px; */
}


.titulo_diametro label{
  font-family: 'Poppins', sans-serif;
  font-weight:600; 
  font-size: 16px;
  margin-left: 20px;
}

.titulo_diametro span{
  font-family: 'Poppins', sans-serif;
  font-weight:300;
  font-size: 14px;
}


@media (max-width: 1050px){
  .contenido{
    width: 100%;
  }
}

@media (max-width: 767px){
  .contenido{
    width: 100%;
  }
  
}