<div class="contenedor">
    <div class="contenido">

        <button type="button" class="btn-close" aria-label="Close" id="boton_salir" (click)="onSalir()"></button>

        <div class="titulo_productos">
            <h2>Bocas de medición y sondeo</h2>
        </div>

        <div class="carousel_2">
            <div class="cortar_imagenes">
                <div class="carousel" data-flickity='{ "wrapAround": true, "pageDots": false }'>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                  </div>

            </div>

        </div>    

        <div class="descripcion">
            <div class="descripcion_titulo">
               <h3>Descripcion</h3>
           </div>
           <p>La boca de medición o sondeo esta específicamente diseñada para ser utilizada como válvula de presión y vacío en los techos de tanques con productos líquidos e inflamables.
            Este diseño comprende la posibilidad de poder verificar la cantidad de producto que contiene, medir la temperatura y tomar muestras.
            
            <br> Desde Metalúrgica SAWA comprendemos la importancia de las mediciones y por ende, fabricamos bocas de sondeo teniendo en cuenta todas las posibilidades y usos . 
            La boca de sondeo está diseñada para ser utilizada en recipientes presurizados por encima de ese rango y se cierra completamente con hermeticidad, cumpliendo la función 
            de Boca de sondeo con y válvula de presión y vacío.</p>

        </div>
        <div class="soyelboton">
            <button  class="btn btn-primary btn-lg">Consultar</button>
        </div>
    </div>
</div>
