<div class="contenedor">
    <div class="contenido">

        <button type="button" class="btn-close" aria-label="Close" id="boton_salir" (click)="onSalir()"></button>

        <div class="titulo_productos">
            <h2>{{item.nombre}}</h2>
        </div>

        <div class="carousel_2">
            <div class="cortar_imagenes">
                <div class="carousel" data-flickity='{ "wrapAround": true, "pageDots": false }'>
                    <div class="carousel-cell"><img src="{{item.imagen1}}"></div>
                    <div class="carousel-cell" *ngIf="item.imagen2 == null || item.imagen2.length == 0 ? false : item.imagen2"><img src="{{item.imagen2}}"></div>
                    <div class="carousel-cell" *ngIf="item.imagen3 == null || item.imagen3.length == 0 ? false : item.imagen3"><img src="{{item.imagen3}}"></div>
        
                  </div>

            </div>

        </div>    

        <div class="descripcion">
            <div class="descripcion_titulo">
               <h3>Descripcion</h3>
           </div>
           <p>{{item.descripcion}}</p>

           <div class="material" *ngIf="item.materiales == null || item.materiales.length == 0 ? false : true">
               <div class="titulo_material">
                   <h3>Material</h3>
                   <p>{{item.materiales}}</p>
               </div>

               <div class="titulo_diametro"  *ngIf="item.diametros == null || item.diametros.length == 0 ? false : true">
                   <label for="">Diametros: <span>{{item.diametros }}</span> </label>
                   <label for="" *ngIf="item.tipo == null || item.tipo.length == 0 ? false : true">Tipos: <span>{{ item.tipo[0].nombre + ", " + item.tipo[1].nombre }}</span></label>
                </div>
    

           </div>
        </div>


        <div class="soyelboton">
            <button  class="btn btn-primary btn-lg">Consultar</button>
        </div>
    </div>
</div>
