li{
    list-style: none;
    font-size: 12px;
}
a{
    color: inherit;
    text-decoration: none; 

}

ul{
    font-family: 'Poppins', sans-serif;
    font-weight:500; 
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    height: 10%;
    margin-bottom: 0;
    width: 90vw;
    color: #a4a4a4;
}

.boton_idiomas{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight:500; 
    display: flex;
    align-items: center;
    
}

.boton_español{
    padding-right: 10px;
} 

#boton_inlges{
    display: flex;
    align-items: center;
    
    
}
#boton_inlges input{
    cursor: pointer;
}
#boton_inlges label{
    padding-left: 10px;
}

.icono{
    display: grid;
    position: absolute;

    width:  100px;
    height: 100px;
    left:   300px;
    /* background: #FFFFFF; */
    border-radius: 0 0 15px 15px;
    z-index: 100;
}

.icono img{
    place-self: center;
    width: 70px;
}

.navbar_menu{
    height: 10vh;

    display: grid;
    align-items: center;
    position: relative;
}

.menu{
 /*    position: fixed;
    z-index: 200; */

    display: none;
    visibility: hidden;
}
@media (max-width: 767px){


    .navbar_class{
        display: grid;
        flex-direction: column;
        position: fixed;
        width: 120px;
        border-radius: 10px 0 0 10px;
        height: 200px;
        background:white;

        place-items: center;

        right:-120px;

        transition: all .5s;

        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        
    }
    .navbar_menu{
        display: grid;
        justify-items: end;
        align-items: start;
        height:0vh;
    }
 
    ul{
        padding-left: 0px;

    }
    .icono{
        position: relative;
        left: 0px;
    }

    .menu{
        position: fixed;
        z-index: 200;
        display: grid;
        visibility: visible;
     /*    display: none;
        visibility: hidden; */
    }




}