
<div class="navbar_menu">
    
        <div class="menu" (click)="abrirNavbar()">
            <img style="width: 40px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/more.png?alt=media&token=5b49b0a9-a825-45c9-9b3a-2c2fe70562d3" alt="">
        </div>
    
    <ul class="navbar_class" #navbar>
        <div class="icono" (click)="volverMenu()">
            <img style="width: 120px;" src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Flogo%2FSAWA_final.png?alt=media&token=87c3ae8b-d47e-4b46-9467-8c758ff217a5" alt="">
        </div>
    
        <li ><a [routerLink]="['/']">{{'navbar.inicio'|translate}}</a></li>
        <li ><a [routerLink]="['/productos']">{{'navbar.productos'|translate}}</a></li>
        <li ><a [routerLink]="['/contacto']" >{{'navbar.contactos'|translate}}</a></li>
        <div class="boton_idiomas">
             <label for="" class="boton_español">ESP</label>
            <div class="form-check form-switch" id="boton_inlges">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="cambiarIdioma($event)">
                <label class="form-check-label" for="flexSwitchCheckDefault">ENG</label>
              </div>
        </div>
    </ul>

</div>    

