.datos_contactos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    align-content: center;
   
    --animate-duration: 1.5s;
}

.precentacion{

    display: grid;
    height: 90vh;
    /* text-align: center; */
    align-content: center;
    justify-items: center;
}
.centrar_contacto{
    text-align: justify;
    width: 90%;

}
.centrar_contacto h1{
 
    font-family: 'Poppins', sans-serif;
    font-weight:500; 
    font-size: 50px;
    padding-bottom: 10px;
    
}

.centrar_contacto p{
    color: #a4a4a4;
    font-size: 14px;
}

.centrar_contacto h1{
    color: #727171;
}
.imagen_inicio{
    place-self: center;
}


.redondo{
    width:  450px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}

.redondo img{
}
.boton_contacto{
    display: grid;
    justify-items: center;
 
    margin-top: 100px;
}
.boton_contacto button{
    border: none;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #F02D3A;
    color: white;
}