<div class="animate__animated animate__slideInRight	 datos_contactos">

  
    <div class="precentacion">
        <div class="centrar_contacto">

            <h1>SAWA Argentina</h1>
            <p>{{ 'inicio.descripcion' | translate }}</p>
            <div class="boton_contacto">
                <button (click)="abrirConsulta()">{{'inicio.boton'|translate }}</button>
            </div>
        </div>
    </div>


    <div class="imagen_inicio">

        <div class="redondo">
            <img  style="width:750px"src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Finicio%2Fman-working-on-steel-fatory-and-equipment-for-steel-production%20(1).jpg?alt=media&token=239916a5-dfef-4494-9997-c75a5a9465ae" alt="">
        </div>
        
    </div>

    
</div>