.datos_contactos{
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100vh;
    align-content: center;
   
    --animate-duration: 1.5s;
}

.precentacion{

    display: grid;
    height: 50vh;
    /* text-align: center; */
    align-content: center;
    justify-items: center;
    
   
}
.centrar_contacto{
    display: grid;
    gap: 30px;
    text-align: justify;
    width: 90%;
    
}
.centrar_contacto h1{
 
    font-family: 'Poppins', sans-serif;
    font-weight:500; 
    font-size: 40px;
    padding-bottom: 10px;
    
}

.centrar_contacto p{
    color: #a4a4a4;
    font-size: 14px;
}

.centrar_contacto h1{
    color: #727171;
}
.imagen_inicio{
    display: grid;
    
    place-self: center;
}


.redondo{
    width:  500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}


.boton_contacto{
    display: grid;
    justify-items: center;
    margin-top: 100px;
}
.boton_contacto button{
    border: none;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #F02D3A;
    color: white;
}

@media (max-width: 1050px){
    .redondo{
        width:  350px;
        height: 350px;
      
    }
  }
@media (max-width: 767px){

 

    .datos_contactos{
        display: grid;
        grid-template-columns: 1fr;
        
        width: 100%;
        
        /* align-content: end; */
        place-items: center;
    }

    .redondo{
        width:  300px;
        height: 300px;
      
    }
    .boton_contacto{
        margin-top: 10px;
    }
    .imagen_inicio{
        display: none;
        visibility: hidden;

  /*   height: 60vh; */

  padding-top:100px;
    justify-content:center;
    align-items: center;
    }
    .precentacion{
        height: auto;
    }
}
