<div class="animate__animated animate__slideInRight	 datos_contactos">

  
    <div class="precentacion">
        <div class="centrar_contacto">

            <h1>SAWA Argentina</h1>
            <p>{{ 'inicio.descripcion' | translate }}</p>
            <div class="boton_contacto">
                <button (click)="abrirConsulta()">{{'inicio.boton'|translate }}</button>
            </div>
        </div>
    </div>


    <div class="imagen_inicio">

        <div class="redondo">
            <img  style="width:750px"src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Finicio%2FIMG-20190402-WA0034%20(3).jpg?alt=media&token=1616ee7b-095d-4947-b5c4-6650c54742bf" alt="">
        </div>
        
    </div>

    
</div>