<div class="animate__animated animate__slideInRight	 datos_contactos">

  
    <div class="precentacion">
        <div class="centrar_contacto">

            <h1>SAWA Argentina</h1>
            <p>Somos una empresa Metalúrgica que brindar soluciones integrales 
                y mantener un contacto personalizado, profesional y cordial con cada uno de 
                nuestros clientes mediante calidad, rápida respuesta y precios competitivos.</p>
            <div class="boton_contacto">
                <button>CONTACTANOS</button>
            </div>
        </div>
    </div>


    <div class="imagen_inicio">
        <div class="redondo"></div>
    </div>

</div>