

.clientes_contenido{
    display: grid;
    height: 100%;
    place-content: center;

}


.contenido{
  
  display: grid;
  align-items: center;
  width: 1200px;
  height: 800px;
  
  font-family: 'Poppins', sans-serif;
  font-weight:500; 
  
  background:  #FFFFFF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 25px;
}


.titulo_cliente{
  display:grid;
  justify-content: center;
  text-align: center;
  color: #a4a4a4

}
.clientes{
    display: grid;
    justify-content: center;
    row-gap: 40px;
    
    
}
.primer_carousel{
  width:1000px;

}
.carousel {

}
  
  .carousel-cell {
    width: 20%;
    height: 100px;
    margin-right: 10px;
/*     background: #8C8;
    counter-increment: gallery-cell; */

    display: grid;
    justify-content: center;
    align-items: center;
  }

.carousel-cell img{
  width: 150px;
  }
  
/*   .carousel-cell.is-selected {
    background: #ED2;
  }
   */
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
/*     content: counter(gallery-cell); */
    line-height: 100px;
    font-size: 80px;
    color: white;
  }
  

  .normas{
      display:grid;
      place-items: center;
  
  }

.datos{
    text-align: center;
    display: grid;

    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding-left: 40px;
    padding-right: 40px;
}
.titulo_prevencion{
  padding-bottom: 15px;
  color: #a4a4a4

}

.titulo_normas{
  padding-bottom: 15px;
  color: #a4a4a4


}

.titulo_servicio{
  padding-bottom: 60px;
  color: #a4a4a4

}


.datos h3{
  color: #a4a4a4

}
.datos p{
  font-size: 14px;
  color: #a4a4a4
}

@media (max-width: 1050px){
  .contenido{
    width: 85vw;
    height: auto;
  }
  .primer_carousel{
    width:80vw;
  
  }
  .carousel-cell{
    width: 25%;
  }
}

@media (max-width: 767px){
  .contenido{
    width: 85vw;
    height: auto;
margin: 20px;
    
  }
  .datos{
 
    width: 80vw;
    
    grid-template-columns: 1fr;
    display: grid;
    justify-content:center;
    gap: 20px;
   
  }

  .clientes{
    width: 85vw;

  }
  .primer_carousel{
    width:80vw;
  
  }
  .carousel-cell{
    width: 50%;
  }
  .normas_calidad{
    width: 85vw;

    text-align: center;
  }
  .normas_calidad select{
    width: 70vw;
  }
}