<div class="clientes_contenido">
  <div class="contenido">
    <div class="clientes">
      <div class="titulo_cliente">
        <h2>{{'tres.titulo'|translate}}</h2>
        <hr />
      </div>
      <div class="primer_carousel">
        <div
          class="carousel"
          data-flickity='{ "wrapAround": true, "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false,"autoPlay": 2200 }'
        >
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FCCU_ARGENTINA.png?alt=media&token=bcdbcde6-5c44-49bf-a66e-e68920a04645"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FCOLORIN.png?alt=media&token=628ee34f-d0d8-4c52-905f-2f84df82125d"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FCOPSA.png?alt=media&token=ca69c4d3-5a87-4059-a044-e419222a63e7"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FMOLINO%20CA%C3%91UELAS.png?alt=media&token=c925196a-caef-4ee5-aacf-d8e13f921685"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FRENOVA.png?alt=media&token=f53451fc-f2dc-4a4c-b4ae-bde69b3bc3f0"
              alt=""
            />
          </div>

          <!-- nuevos clientes -->

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2F1190px-Logo_Sika_AG.svg.png?alt=media&token=3b1d496c-52be-4c97-a58e-ab7b791a5876"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2F1200px-Techint_Logo.svg.png?alt=media&token=7136daf8-2264-4c4e-94d7-758aaba91659"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2F1519864367222.jpeg?alt=media&token=dde6751c-08a4-4ade-aed6-e3a6dbd3d0ed"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2F1553109839661.jpeg?alt=media&token=1d6cf261-6a94-4ac7-bb63-04f3f1d7e3cd"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2F5351.jpg?alt=media&token=f6472747-d4d9-486f-9f39-257d07912082"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2F5462.jpg?alt=media&token=1af464c7-07cd-4fe5-a55d-9de63622bd6f"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2F7965.jpg?alt=media&token=c0f3afdf-8549-400a-b2b5-569473f56e2f"
              alt=""
            />
          </div>
<!-- 
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2FPan_Am_Logo.svg.png?alt=media&token=df4dc409-407c-44bc-a4da-3a6bec325855"
              alt=""
            />
          </div>
 -->
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2FPatagonia-Bioenergia.jpg?alt=media&token=964679f3-d3bd-4309-b775-65e1e2257c28"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2FPatagonia-Logo.png?alt=media&token=996547f9-519e-4e6d-a208-f8104c4f4b67"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Fcropped-toplogo-3.jpg?alt=media&token=d99ccf1f-969d-4de9-82fc-675118ae3944"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Fdescarga%20(1).png?alt=media&token=47780da9-77c5-4689-a520-b36c80558b0e"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Fdescarga.png?alt=media&token=7c0be69b-68aa-4cdb-8944-b2d0d1bac99b"
              alt=""
            />
          </div>

          <!-- nuevos clientes 2  -->



          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F0-facebook.jpg?alt=media&token=1bc1a4cc-5b74-4970-9689-fa899cd4c8d8"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F1519864367222.jpeg?alt=media&token=c75b44a6-91bd-471a-b7ed-10bd00704a23"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F1519866731950.jpeg?alt=media&token=e8c7914d-661e-48e4-baa9-c510e5f8b58a"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F1519913579519.jpeg?alt=media&token=fb14924a-cfc3-4f61-86c9-87f67dec8231"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F1534436602663.jpeg?alt=media&token=59f5f052-d024-4dfd-aaaf-547b557e6660"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F1620835712670.jpeg?alt=media&token=dd9fc4a3-50df-4d97-82d9-77ec8e02f52b"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F1634829643578.jpeg?alt=media&token=21e86dcb-a9db-4dd1-8c02-d8f330ce4498"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F1638363174133.jpeg?alt=media&token=bb0d0f5d-cdf5-420f-ab93-ec152c3ae3ad"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F587e34cd9686194a55adab96.png?alt=media&token=87a4c75e-afe6-4cb0-b3be-c6d603dafa0c"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2F98915_Agrofina.jpg?alt=media&token=37fc6856-19a5-4e31-8df5-efaf01f21e31"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2FAysa_logo.svg.png?alt=media&token=d06c0dd0-47ba-4458-aefd-fe47dc139b72"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2FGeneral_Electric_logo.svg.png?alt=media&token=e584ede4-d568-4c8d-99d8-998024bffbcb"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2FLOGO-PRINCIPAL-1-scaled.jpg?alt=media&token=044444f6-2010-436a-828f-861ee34dc90c"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2FLogo_AXION_energy.jpg?alt=media&token=5dd733b4-5a27-43c6-a8d5-17934ad9d85f"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2FLogo_Ledesma.png?alt=media&token=ca56be99-aa21-4984-9bc7-e158c2db6c31"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fbrenntag-logo.png?alt=media&token=e629302a-ab4c-45f3-8461-6304e3487354"
              alt=""
            />
          </div>
          
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fcarbo.png?alt=media&token=993397f0-6054-4784-b035-3063bb8f2faf"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fcgclogo.png?alt=media&token=d752547e-2868-4339-a2f8-0717d18411ea"
              alt=""
            />
          </div>

  


          <!-- tercer cliente  home-->
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%203%2Faerodym.png?alt=media&token=6257a69d-b516-43ca-bedd-b48fbb326a7b"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%203%2FbertottoBoglione.jpg?alt=media&token=86d261d1-f974-4357-bcae-6375c623e3c7"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%203%2Floginpet.jpeg?alt=media&token=ab8c2f10-2531-4396-b58c-6ee2d6988a57"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%203%2Fmedanito.png?alt=media&token=71a809ed-ed04-4c0a-ac07-293418bd0635"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%203%2Fpanamerican-energy.jpg?alt=media&token=5b77e9de-e77a-4252-8f22-8790d659c984"
              alt=""
            />
          </div>


          <!-- tercer cliente  end-->

        </div>
      </div>



      <div class="segundo_carousel">
        <div
          class="carousel"
          data-flickity='{ "wrapAround": true, "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false, "autoPlay": 2000}'
        >

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Fypf-logo-1.png?alt=media&token=5b68f9d5-34a5-4ab3-8dcf-692f32e3ba9a"
            alt=""
          />
        </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FRGB_VEOLIA_HD.png?alt=media&token=79e0de93-5ec5-435a-b420-b241bdebd6c4"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Faes-argentina.jpg?alt=media&token=c6768680-41f4-4187-8417-6b17f2b88b34"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FpDVS.png?alt=media&token=98fdd9c1-6550-42e9-97ac-f8491cde04e0"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fplaquimet-150x64.png?alt=media&token=c7198c5e-db5b-4c8d-b301-9534f4b98401"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fta-150x120.png?alt=media&token=c103aff9-1355-444a-800e-1cd2d41216bc"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Fimages.png?alt=media&token=6fe11f18-7c30-4687-8e2d-f75a49cd56af"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogo%20(1).jpg?alt=media&token=d74e1386-85b8-4041-aeae-6ffcaa037a8d"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogo%20(1).png?alt=media&token=21e792f0-e51d-43e2-a85b-bd37c159780f"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogo%20(2).png?alt=media&token=8ee70276-23be-4cca-af47-fa9763477bf1"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogo%20(3).png?alt=media&token=68765c23-64ca-4d80-8053-679a1de66af2"
              alt=""
            />
          </div>


          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogo-c.png?alt=media&token=acfa5f76-14ce-4956-9761-e0448074274b"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogo-grosso.png?alt=media&token=27379111-d9b0-43d5-970e-5cbde7a55d3f"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogo.jpg?alt=media&token=9777f207-e6c8-4d0b-b79d-a49609b02b56"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogo.png?alt=media&token=7aeb1326-385f-4059-b87d-229e8bf12894"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogohome.png?alt=media&token=4ebd3a15-9c4c-4ffd-af90-13fbdefc86a4"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fcliente%20nuevos%201%2Flogos-clientes_53.jpg?alt=media&token=a05210fc-fcde-4ddd-b5d1-90ff69d95012"
              alt=""
            />
          </div>


         <!--  nuevos clientes 2 -->


         <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fcontreras-institucional.jpg?alt=media&token=144b9fc5-64b2-4f58-964e-cb936712de64"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fdescarga%20(1).png?alt=media&token=b31bbdec-9800-47c0-805f-62dff4b0e519"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fdescarga%20(2).png?alt=media&token=ecafb276-b584-4c6c-8abe-04c2d5a3215e"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fdescarga%20(3).png?alt=media&token=d7f20d62-0304-42a4-85fc-701b2d2b752d"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fdescarga%20(4).png?alt=media&token=4c65b6b5-0f42-44c0-90bd-ad5f557ef507"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fdescarga%20(5).png?alt=media&token=4633b24f-ae36-4d20-8a80-9d754dfb4ab1"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fdescarga%20(6).png?alt=media&token=9b9a5e9b-0c3f-411e-8eee-08e6c419f828"
            alt=""
          />
          
        </div>


        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fdescarga.jpeg?alt=media&token=42a51c62-eb62-4a0a-bab2-4e3fa91a0eb8"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fdescarga.png?alt=media&token=3f95c240-ed27-4ad1-ba34-8fde76f6d5ef"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fecolab-full-png-png.webp?alt=media&token=712b26f1-329b-4133-ad8e-0c06d6d92c5b"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fgrupo_isologo.png?alt=media&token=fdbeff99-6d3d-4d81-a6d7-4fcd80c7f526"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fimages.png?alt=media&token=50e06f85-9236-467e-9d17-57534cf45309"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Fleales-vertical-1.jpg?alt=media&token=55c27473-317a-43dd-bbc4-088b3847d060"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Flogo-simple-new.png?alt=media&token=e726b124-0faf-4243-ae7a-de7b90d01dea"
            alt=""
          />
          
        </div>


        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Flogo.png?alt=media&token=07b0d305-d3c1-45e4-a6e4-6573742e355c"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Flogo.svg?alt=media&token=45ee16be-7d89-4ebb-be33-ac030347e176"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Flogo_interpack_b4.png?alt=media&token=a04bbe6c-43d5-407a-8913-6c89fd7e38b0"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Flogo_logo-arsemet-01.jpg?alt=media&token=04c488d5-1bf6-4b75-847b-f41d26092f15"
            alt=""
          />
        </div>

        <div class="carousel-cell">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%202%2Flogo_nav-principal-cabecera.png?alt=media&token=cbeeeb7d-d5eb-4590-9cc7-1c8904e1cc9e"
            alt=""
          />
        </div>

          <!-- tercer cliente  home-->

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%203%2FpatagoniaFieldSerives.png?alt=media&token=ae9570a9-1494-41c7-bfc0-3b4efa5ec918"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%203%2Fproactiva.svg?alt=media&token=f4735b30-13ea-4870-8cae-b9180acf946a"
              alt=""
            />
          </div>

          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%203%2FtausaSA.png?alt=media&token=a46857cd-8049-4f84-bd5f-02059de908de"
              alt=""
            />
          </div>

   <!--        <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fnuevos%20clientes%203%2Fweb-home-OK-elementos_03-header-logo.png?alt=media&token=0e73cb5a-75b1-40df-a70f-3c476eea769b"
              alt=""
            />
          </div> -->
          <!-- tercer cliente  end-->



        </div>

        <div class="" style="display:grid; justify-content:end; align-items:center;">

          <div class="moreClient" style="display:flex; flex-direction:row; align-content:center; cursor:pointer;" (click)="closeListClient()">
            <svg  width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
              <path d="M365.3 93.38l-74.63-74.64C278.6 6.742 262.3 0 245.4 0L64-.0001c-35.35 0-64 28.65-64 64l.0065 384c0 35.34 28.65 64 64 64H320c35.2 0 64-28.8 64-64V138.6C384 121.7 377.3 105.4 365.3 93.38zM336 448c0 8.836-7.164 16-16 16H64.02c-8.838 0-16-7.164-16-16L48 64.13c0-8.836 7.164-16 16-16h160L224 128c0 17.67 14.33 32 32 32h79.1V448zM96 280C96 293.3 106.8 304 120 304h144C277.3 304 288 293.3 288 280S277.3 256 264 256h-144C106.8 256 96 266.8 96 280zM264 352h-144C106.8 352 96 362.8 96 376s10.75 24 24 24h144c13.25 0 24-10.75 24-24S277.3 352 264 352z"/>
            </svg>
            <p>Mas Clientes</p>
          </div>
          
        </div>


      </div>

<div 
style="position: absolute; place-self: center; overflow-y: scroll; max-height: 400px; max-width: 290px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
(click)="closeListClient()"
*ngIf="showListClient">


  <ul class="list-group" >
    
  <li class="list-group-item list-group-item-secondary sticky-top" aria-current="true" >
    Mas de nuestros clientes <button type="button" class="btn-close" aria-label="Close" style="margin-left: 10px;">
    </button></li>

  <div class="divClass" *ngFor=" let i of clientesSinLogo" >
    <li class="list-group-item" style="text-align: center;">{{ i.name | uppercase}}</li>
  </div>
 
<!--   <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li> -->
</ul>

</div>

    </div>

    <div class="normas">
      <div class="titulo_servicio">
        <h2>{{'tres.servicios'|translate}}</h2>
        <hr />
      </div>

      <div class="datos">
        <div class="prevencio">
          <div class="titulo_prevencion">
            <h3>{{'tres.Prevencion_Y_Mantenimiento.titulo'|translate}}</h3>
          </div>
          <p>
            {{'tres.Prevencion_Y_Mantenimiento.descripcion'|translate}}
          </p>
        </div>

        <div class="normas_calidad">
          <div class="titulo_normas">
            <h3>{{'tres.Normas_de_calidad.titulo'|translate}}</h3>
          </div>

          <p>
            {{'tres.Normas_de_calidad.descripcion'|translate}}
          </p>

          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" (change)="cambiar($event.target)">
            <option selected>{{'tres.Normas_de_calidad.certificados.titulo'|translate}}</option>
            <option value="1">Nota Implementación Normas de Calidad</option>
            <option value="2">Registro de Marca (1)</option>
            <option value="3">Registro de Marca (2)</option>
            <option value="4">Procedimiento de Soldaduras (1)</option>
            <option value="5">Procedimiento de Soldaduras (2)</option>
          </select>
          
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- 

    [autoplay]="{
      delay: 1000,
      disableOnInteraction: false
    }" -->
