<div class="clientes_contenido">
  <div class="contenido">
    <div class="clientes">
      <div class="titulo_cliente">
        <h2>{{'tres.titulo'|translate}}</h2>
        <hr />
      </div>
      <div class="primer_carousel">
        <div
          class="carousel"
          data-flickity='{ "wrapAround": true, "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false,"autoPlay": 2200}'
        >
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FCCU_ARGENTINA.png?alt=media&token=bcdbcde6-5c44-49bf-a66e-e68920a04645"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FCOLORIN.png?alt=media&token=628ee34f-d0d8-4c52-905f-2f84df82125d"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FCOPSA.png?alt=media&token=ca69c4d3-5a87-4059-a044-e419222a63e7"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FMOLINO%20CA%C3%91UELAS.png?alt=media&token=c925196a-caef-4ee5-aacf-d8e13f921685"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FRENOVA.png?alt=media&token=f53451fc-f2dc-4a4c-b4ae-bde69b3bc3f0"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="segundo_carousel">
        <div
          class="carousel"
          data-flickity='{ "wrapAround": true, "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false, "autoPlay": 2000}'
        >
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FRGB_VEOLIA_HD.png?alt=media&token=79e0de93-5ec5-435a-b420-b241bdebd6c4"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Faes-argentina.jpg?alt=media&token=c6768680-41f4-4187-8417-6b17f2b88b34"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2FpDVS.png?alt=media&token=98fdd9c1-6550-42e9-97ac-f8491cde04e0"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fplaquimet-150x64.png?alt=media&token=c7198c5e-db5b-4c8d-b301-9534f4b98401"
              alt=""
            />
          </div>
          <div class="carousel-cell">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/node-chat-destruccion.appspot.com/o/sawa-imagenes%2Fclientes%2Fta-150x120.png?alt=media&token=c103aff9-1355-444a-800e-1cd2d41216bc"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="normas">
      <div class="titulo_servicio">
        <h2>{{'tres.servicios'|translate}}</h2>
        <hr />
      </div>

      <div class="datos">
        <div class="prevencio">
          <div class="titulo_prevencion">
            <h3>{{'tres.Prevencion_Y_Mantenimiento.titulo'|translate}}</h3>
          </div>
          <p>
            {{'tres.Prevencion_Y_Mantenimiento.descripcion'|translate}}
          </p>
        </div>

        <div class="normas_calidad">
          <div class="titulo_normas">
            <h3>{{'tres.Normas_de_calidad.titulo'|translate}}</h3>
          </div>

          <p>
            {{'tres.Normas_de_calidad.descripcion'|translate}}
          </p>

          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" (change)="cambiar($event.target)">
            <option selected>{{'tres.Normas_de_calidad.certificados.titulo'|translate}}</option>
            <option value="1">Nota Implementación Normas de Calidad</option>
            <option value="2">Registro de Marca (1)</option>
            <option value="3">Registro de Marca (2)</option>
            <option value="4">Procedimiento de Soldaduras (1)</option>
            <option value="5">Procedimiento de Soldaduras (2)</option>
          </select>
          
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 

    [autoplay]="{
      delay: 1000,
      disableOnInteraction: false
    }" -->
