<div class="clientes_contenido">

    <div class="contenido">

        <div class="clientes">
            <div class="titulo_cliente">
                <h2>Nuestros Clientes</h2>
                <hr>
            </div>
            <div class="primer_carousel">
                <div class="carousel" data-flickity='{ "wrapAround": true, "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false}'>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                  </div>
            </div>

            <div class="segundo_carousel">
                <div class="carousel" data-flickity='{ "wrapAround": true, "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false}'>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                    <div class="carousel-cell"></div>
                  </div>
            </div>


        </div>
        

        <div class="normas">

            <div class="titulo_servicio">
                <h2>Servicios</h2>
                <hr>
            </div>
            
            <div class="datos">
                <div class="prevencio">
                    <div class="titulo_prevencion">
                        <h3>Prevencion Y Mantenimiento</h3>
                        
                    </div>
                    <p>En Metalúrgica SAWA Argentina ofrecemos a nuestros clientes servicio de prevención y mantenimiento, una medida a tomar anticipadamente conservando el buen estado de los productos evitando pérdidas innecesarias.
                        Comprendemos la importancia en la prevención y mantenimiento  como todo riesgo que puede generar gastos en su empresa, afectar negativamente en la vida de las personas y  el medio ambiente.
                        Si desea un servicio a la altura de las circunstancias</p>
                </div>

                <div class="normas_calidad">
                    <div class="titulo_normas">
                        <h3>Normas de calidad</h3>
                    </div>
                    <p>Todos los procesos que lleva a cabo Metalúrgica SAWA Argentina se encuentran medidos y controlados para cumplir con las especificaciones de nuestros clientes, es primordial dar una respuesta rápida a dichas necesidades, respetando los plazos y especificaciones indicados, con lo cual las herramientas del sistema de calidad contribuyen diariamente a este objetivo. En Metalúrgica SAWA Argentina estamos convencidos que la evolución continua es la mejor forma de mantener un avance sostenido.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 

    [autoplay]="{
      delay: 1000,
      disableOnInteraction: false
    }" -->