<div class="contenido">
    
    <div class="inicio">
        
        <div class="barra"></div>
        
        <div class="centro_incio">
            
            <div class="productos">
                <app-navbar></app-navbar>

                <div class="contacto">

                    <div class="datos">

                        <div class="titulo_datos">
                            <h2>SAWA</h2>
                        </div>

                        <div class="datos_contacto">

                            
                            
                            <div class="data">
                                <div class="contenido_data">

                                    <div class="titulo_contac">
                                        <h3>Contacto SAWA </h3>
                                    </div>

                                    <div class="contactar">

                                        <label for="">TELEFONO: <span>7678</span> </label>
                                        <label for="">EMAIL: <span>7678</span> </label>
                                    </div>
                                </div>

                            </div>

                            <div class="formulario">
                                <div class="titulo_formulario">
                                   <h2> formulario</h2>
                                </div>
                                <div class="formulario_dividir">

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nombre*</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su nombre">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Email*</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su email">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Telefono <span>(opcional)</span> </label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su telefono">
                                      </div>
        
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleFormControlTextarea1">Example textarea</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>

                                  <span class="info">*Comunicate a través de nuestros formularios de atención online.  
                                    Un asesor te responderá a la brevedad</span>
                                    <div class="button_enviar">

                                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                                    </div>
    
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    

        </div>

    </div>


</div>