.barra{
    height:110vh;
    background: #F02D3A;
}

.inicio{
    display: grid;
    grid-template-columns: 10% 90%;
 
}

.centro_incio{
    display: grid;
    height: 100vh;
    
}
.productos{
    height: 100vh;
}
.contacto{
    display: grid;
    justify-content:center;
    align-items:center;
    width:   90vw;
    height : 90vh;
    
}
.titulo_datos{
    text-align: center;
}
.datos{
    gap: 10px;
    display: grid;
    background: white;
    border-radius: 25px;
    width:  900px;
    height: 550px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.datos_contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo_formulario{
    text-align: center;
}

.formulario{
    display: grid;
    width: 400px;
    row-gap: 10px;
    
}
.formulario_dividir{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
}
.button_enviar{
    display: grid;
    justify-content:center;
}
.info{
    font-size:12px;
    
}

.data{
    place-self: center;
    display:grid;
    justify-content: center;
    
    width: 400px;
}

.contenido_data{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display:grid;
    justify-items: center;
    align-content: center;
    border-radius: 15px;
    background: transparent;
    width: 310px;
    height:120px;
    margin-bottom: 40px;
}

.titulo_contac{
    text-align: center;
}
.contactar{
display: flex;
flex-direction: column;
}

.contactar label{
    font-family: 'Poppins', sans-serif;
    font-weight:900; 

    font-size: 15px;
}

.contactar span{
    font-family: 'Poppins', sans-serif;
    font-weight:200; 
}

@media (max-width: 1050px){

    }
  @media (max-width: 767px){
      .datos_contacto{
          grid-template-columns: 1fr;
      }
      .datos{
          width: 90vw;
          height: 100%;
    gap: 20px;

      }
      .formulario_dividir{
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
        row-gap: 5px;
        column-gap: 10px;
    }

    textarea{
        width: 80%;
        place-self: center;
        
    }
    #mensaje{
        display: grid;
        /* place-self: center;
        width: 90%; */
    }
    #mensaje label{
        text-align: center;
    }
    .info{
        place-self: center;
        width: 80%;
    }

  }