.barra{

    height:100vh;
    height: 200vh;
    background: #F02D3A;
}

.inicio{
    display: grid;
    grid-template-columns: 10% 90%;
 
}

.centro_incio{
    display: grid;
    height: 100vh;


}
.productos{
  height: 100vh;
 
}
.titulo_productos{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight:800; 
    color: #a4a4a4;
    display: grid;
    justify-content: center;
}

