<div class="contenido">
    
    <div class="inicio">
        
        <div class="barra"></div>
        
        <div class="centro_incio">
            <app-consultar *ngIf="estadoConsulta" [nombreHijoProducto]="datos_productos" ></app-consultar>
            
            
            <div class="productos">
                

                <app-view-producto *ngIf="estado" [item]="nombre"  [item_data]="data_full"></app-view-producto>

                <app-navbar></app-navbar>
                <br>
                <br>
                
                <div class="titulo_productos">
                    <h1>Nuestros Productos</h1>
                    <hr>
                </div>
                
                <app-producto (nombreDeProducto)="datos_productos = $event"></app-producto>
                
                
                
            </div>
    

        </div>

    </div>

<app-final></app-final>
</div>


<!--  -->