<div class="final">
    <div class="iconos">

        <div class="icon facebook">
            <a href="https://www.facebook.com/Metalsawa-713306559045248/"><img style="width: 39px;" src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-facebook-social-media-justicon-lineal-color-justicon.png"/></a>
        </div>
        <div class="icon twitter">
            <a href="https://mobile.twitter.com/metalsawa"><img style="width: 39px;" src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-twitter-social-media-justicon-flat-justicon.png"/></a>
            
        </div>
        <div class="icon linkedin">
           <a href="https://www.linkedin.com/in/metalurgica-sawa-83303222/?originalSubdomain=ar"><img style="width: 39px;" src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-linkedin-social-media-justicon-flat-justicon.png"/></a> 

        </div>
    </div>

    <div class="derechos">
        <p>Copyright ©2021 METALSAWA SRL . Todos los derechos reservados</p>
    </div>
</div>