<div class="final">
    <div class="iconos">

        <div class="icon facebook">
            <img style="width: 39px;" src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-facebook-social-media-justicon-lineal-color-justicon.png"/>
        </div>
        <div class="icon twitter">
            <img style="width: 39px;" src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-twitter-social-media-justicon-flat-justicon.png"/>
        </div>
        <div class="icon linkedin">
            <img style="width: 39px;" src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-linkedin-social-media-justicon-flat-justicon.png"/>

        </div>
    </div>

    <div class="derechos">
        <p>Copyright ©2021 METALSAWA SRL . Todos los derechos reservados</p>
    </div>
</div>